In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math
np.random.seed(8)
classA_ages=stats.poisson.rvs(loc=18,mu=30,size=75)
np.random.seed(12)
classB_ages=stats.poisson.rvs(loc=18,mu=37,size=68)

In [ ]:
classB_ages.mean()

54.73529411764706

In [ ]:
_,p_value=stats.ttest_ind(a=classA_ages,b=classB_ages,equal_var=False)

In [ ]:
if p_value < 0.05:         #Alpha value = 0.05 OR 5%
  print("Accepting null hypothesis")  #Difference in age
else:
  print("Rejecting null hypothesis")  #No difference in age

Accepting null hypothesis

Hence we conclude that in this Two sample T-Test we accept null hypothesis